@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Yekan";
  font-weight: 400;
  src: url('./assets/font/iranyekanwebmedium.woff') format('woff')  ,

       
}
@font-face {
  font-family: "Yekan";
  font-weight: 100;
  src: url('./assets/font/iranyekanwebthin.woff') format('woff')  ,

       
}

@font-face {
  font-family: "Yekan";
  font-weight:800;
  src:   url('./assets/font/iranyekanwebblack.woff') format('woff')    ,
    
    
      
     
}
@font-face {
  font-family: "Yekan";
  font-weight: 600;
  src:  url('./assets/font/iranyekanwebbold.woff')  format('woff')  ,
    
    
      
     
}
@font-face {
  font-family: "Yekan";
  font-weight: 200;
  src: url('./assets/font/iranyekanweblight.woff') format('woff')   ,
    
      

}


p , h1 , h2 , h3 , h4 , button , li , a , input ,th,tr,td {
  font-family: "yekan";

  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  #card>*:hover{
  color:rgb(255, 255, 255) !important;
}
